---

---

body{
  background-color: #e52351;
}

.shipit{
  width: 30vw;
}

.container{
  text-align: center;
  margin-top: 30vh;
}

.site-header{
  border-top: none;
  border-bottom: none;
}

.site-footer{
  border-top: none;
}
