---

---

body{
  background-color: #e52351;
}

.shipit{
  min-width: 16em;
  width: 30vh;
}

.container{
  text-align: center;
  margin-top: 30vh;
}

.site-header{
  border-top: none;
  border-bottom: none;
}

.site-footer{
  border-top: none;
  text-align: center;
  margin-top: 30vh;
  img{
    width: 8em;
  }
}
